body {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #001f3f;
    font-family: sans-serif;
}

h1, h2 {
    font-weight: normal;
}

.name {
    font-size: 300%;
}

a {
    color: #001f3f;
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}
a:hover {
    background-color: #001f3f;
    color: white;
}


